<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Games</title>
  </head>
  <body>
    <div class="container">
      <main>
        <h1>My Favorite games</h1>
        <figure>
          <img src="" />
        </figure>
        <section>
          <button>
            <a th:href="@{/reviews}">Reviews </a>
          </button>
        </section>
      </main>
      <footer></footer>
    </div>
  </body>
</html>
