<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/styles/style.css" />
  <title>Games</title>
</head>
<body>
<div class="container">
  <main>
    <h1>My Favorite games</h1>
    <figure>
<!--      <img th:src="" />-->
    </figure>
    <section>
      <li th:each="review: ${reviewsModel}"><a th:href="@{/review(id=${review.id})}" th:text="${review.name}"></a></li>

      <button>
        <a th:href="@{/reviews}">Reviews </a>
      </button>
    </section>
  </main>
  <footer>
    <small>George Avent Jr.</small>
  </footer>
</div>
</body>
</html>