<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" href=".resources/Static/Images/Styles/styles.css" />
    <title>A review</title>
  </head>
  <body>
    <header>
      <h1 th:text="${reviewModel.name}">A review</h1>
    </header>
    <main>
    <img th:src="${reviewModel.image}">
     <ul>
             <li th:text="${reviewModel.description}"></li>
             <li th:text="${reviewModel.reviewType}"></li>

         </ul>
    </main>
  </body>
</html>
